{{ define "main" }}
<article class="post single-post">
    <div class="post-date">
        {{ .Date.Format "2006-01-02" }}
    </div>

    <div class="post-content">
        {{ if .Truncated }}
            {{ $parts := split .RawContent "<!--more-->" }}
            <div class="tldr">{{ index $parts 0 | markdownify }}</div>
            {{ index $parts 1 | markdownify }}
        {{ else }}
            {{ .Content }}
        {{ end }}
    </div>
    
    {{ if .Params.tags }}
    {{ $hasRealTags := false }}
    {{ range .Params.tags }}
        {{ if ne . "" }}
            {{ $hasRealTags = true }}
        {{ end }}
    {{ end }}
    {{ if $hasRealTags }}
    <div class="post-tags">
        {{ range .Params.tags }}{{ if ne . "" }}#<a href="{{ (urlize (printf "tags/%s/" . )) | absLangURL }}">{{ . }}</a> {{ end }}{{ end }}
    </div>
    {{ end }}
    {{ end }}
</article>
{{ end }}